/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Scoped reset for body - only on plugin page */
body.woocommerce_page_quick-cart-shopping {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}